<div class="container">
    <div class="row">
      <a class="btn btn-primary" routerLink="/admin">Back to List</a>
    </div>
    <div>
        <div class="form-group">
            <label>Student Name</label>
            <div class="form-control">{{quizReg.username}}</div>
          </div>
      <div class="form-group">
        <label>Name of Paper</label>
        <div class="form-control">{{quizReg.nameofpaper}}</div>
      </div>
      <div class="form-group">
        <label>Answer 01</label>
        <div class="form-control">{{quizReg.question01}}</div>
      </div>
      <div class="form-group">
        <label>Answer 02</label>
        <div class="form-control">{{quizReg.question02}}</div>
      </div>
      <div class="form-group">
        <label>Answer 03</label>
        <div class="form-control">{{quizReg.question03}}</div>
      </div>
      <div class="form-group">
        <label>Answer 04</label>
        <div class="form-control">{{quizReg.question04}}</div>
      </div>
      <div class="form-group">
        <label>Answer 05</label>
        <div class="form-control">{{quizReg.question05}}</div>
      </div>
      <div class="form-group">
        <label>Answer 06</label>
        <div class="form-control">{{quizReg.question06}}</div>
      </div>
      <div class="form-group">
        <label>Answer 07</label>
        <div class="form-control">{{quizReg.question07}}</div>
      </div>
      <div class="form-group">
        <label>Answer 08</label>
        <div class="form-control">{{quizReg.question08}}</div>
      </div>
      <div class="form-group">
        <label>Answer 09</label>
        <div class="form-control">{{quizReg.question09}}</div>
      </div>
      <div class="form-group">
        <label>Answer 10</label>
        <div class="form-control">{{quizReg.question10}}</div>
      </div>
    </div>
  </div>
