<div class="container">
    <table class="table table-bordered table-inverse">
      <tr>
        <th class="text-right">Test#</th>
        <th class="text-right">Student Name</th>  
        <th class="text-right">Name of Paper</th>      
        <th class="text-right">Date Taken</th>
        <th class="text-right">Question 1</th>
      </tr>
      <tr *ngFor="let quiz of quizes">
          <td>
            <a [routerLink]="['/admin/view', quiz.id]">{{quiz.id}}</a>
          </td>
          <td class="text-right">
            {{quiz.username}}
          </td>
          <td class="text-right">
            {{quiz.nameofpaper}}
          </td>
          <td>
            {{quiz.question01}}
          </td>
          <td class="text-right">
            {{quiz.dateTaken}}
          </td>
      </tr>
    </table>
  </div>
