<div style="text-align:center">
    <h1 id="logo">
        Color Crayon Tip
    </h1>
    <nav class="navbar-nav justify-content-center">
        <div class="column">
            <a class="btn btn-dark border-white navButtons" routerLink="/viewPaper">View list of papers by student name</a>
        </div>
        <div class="column">
            <a class="btn btn-dark border-white navButtons" routerLink="/admin">View full list of papers</a>
        </div>
        <div class="column">
            <a class="btn btn-dark border-white navButtons" routerLink="/registerStudent">Register a new student</a>
        </div>
        <div class="column">
            <a class="btn btn-dark border-white navButtons" routerLink="/analyzePaper">Analyze a new paper</a>
        </div>
    </nav>
    <div class="btn btn-default" id="logButton">
        <ul class="list-unstyled text-center">
            <li>
                <button class="btn btn-primary btn-lg border-white text-center" (click)="logInOrOut() ">
              {{isAuthenticated() ? "Log Out " : "Log In "}}
          </button>
            </li>
        </ul>
    </div>

</div>

<router-outlet></router-outlet>